{% extends "base.html" %} {% block content %}
<div class="nk-content-wrap">
  <div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
      <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">Overview</h3>
        <div class="nk-block-des text-soft">
          <p>Welcome to DashLite Dashboard Template.</p>
        </div>
      </div>
      <div class="nk-block-head-content">
        <div class="toggle-wrap nk-block-tools-toggle">
          <a
            href="#"
            class="btn btn-icon btn-trigger toggle-expand me-n1"
            data-target="pageMenu"
            ><em class="icon ni ni-more-v"></em
          ></a>
          <div class="toggle-expand-content" data-content="pageMenu">
            <ul class="nk-block-tools g-3">
              
              <li class="nk-block-tools-opt">
                <a href="{% url 'quize_add' %}" class="btn btn-primary"
                  ><em class="icon ni ni-plus"></em><span>Add New Quize</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nk-block">
    <div class="row g-gs">
      <div class="col-sm-6">
        <div class="card card-bordered">
          <div class="card-inner">
            <div class="card-title-group align-start mb-2">
              <div class="card-title">
                <h6 class="title">Active Subscriptions</h6>
              </div>
              <div class="card-tools">
                <em
                  class="card-hint icon ni ni-help-fill"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="Total active subscription"
                ></em>
              </div>
            </div>
            <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
              <div class="nk-sale-data">
                <span class="amount">9.69K</span
                ><span class="sub-title"
                  ><span class="change down text-danger"
                    ><em class="icon ni ni-arrow-long-down"></em>1.93%</span
                  >since last month</span
                >
              </div>
              <div class="nk-sales-ck">
                <canvas
                  class="sales-bar-chart"
                  id="activeSubscription"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-bordered">
          <div class="card-inner">
            <div class="card-title-group align-start mb-2">
              <div class="card-title">
                <h6 class="title">Avg Subscriptions</h6>
              </div>
              <div class="card-tools">
                <em
                  class="card-hint icon ni ni-help-fill"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="Daily Avg. subscription"
                ></em>
              </div>
            </div>
            <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
              <div class="nk-sale-data">
                <span class="amount">346.2</span
                ><span class="sub-title"
                  ><span class="change up text-success"
                    ><em class="icon ni ni-arrow-long-up"></em>2.45%</span
                  >since last week</span
                >
              </div>
              <div class="nk-sales-ck">
                <canvas class="sales-bar-chart" id="totalSubscription"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
