{% extends "base.html" %}
{% block content %}

<div class="nk-content-wrap">
  <div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
      <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">Quiz Add</h3>
      </div>
    </div>
  </div>

  <!-- Quiz Basic Information -->
  <div class="nk-block">
    <div class="card card-bordered">
      <div class="card-inner">
        <div class="card-head">
          <h5 class="card-title">Basic Information</h5>
        </div>
        <form id="quizForm">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-label" for="quiz-title">Title</label>
                <div class="form-control-wrap">
                  <input type="text" class="form-control" id="quiz-title" required />
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-label" for="quiz-description">Description</label>
                <textarea
                  class="form-control no-resize"
                  id="quiz-description"
                  spellcheck="false"
                  required
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Quiz Question Section -->
  <div class="nk-block nk-block-lg">
    <div class="card card-bordered">
      <div class="row g-0 col-sep col-sep-md col-sep-xl">

     

        <!-- Question List Section -->
        <div class="col-md-12 col-xl-12">
            <div class="card-inner p-0 border-top">
                <div class="question-list nk-tb-list nk-tb-orders" id="questionList">
                  <div class="nk-tb-item nk-tb-head">
                    <div class="nk-tb-col"><span>S No.</span></div>
                    <div class="nk-tb-col tb-col-lg"><span>Question</span></div>
                    <div class="nk-tb-col"><span>&nbsp;</span></div>
                  </div>
                
                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#95954</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                        <span>How many hours of sleep you take in the day?</span>
                    </div>
                    <div class="nk-tb-col nk-tb-col-action">
                      <div class="dropdown">
                        <a
                          class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                          data-bs-toggle="dropdown"
                          ><em class="icon ni ni-more-h"></em
                        ></a>
                        <div
                          class="dropdown-menu dropdown-menu-end dropdown-menu-xs"
                        >
                          <ul class="link-list-plain">
                            <li><a href="#">View</a></li>
                            <li><a href="#">Invoice</a></li>
                            <li><a href="#">Print</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#95954</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                        <span>How many hours of sleep you take in the day?</span>
                    </div>
                    <div class="nk-tb-col nk-tb-col-action">
                      <div class="dropdown">
                        <a
                          class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                          data-bs-toggle="dropdown"
                          ><em class="icon ni ni-more-h"></em
                        ></a>
                        <div
                          class="dropdown-menu dropdown-menu-end dropdown-menu-xs"
                        >
                          <ul class="link-list-plain">
                            <li><a href="#">View</a></li>
                            <li><a href="#">Invoice</a></li>
                            <li><a href="#">Print</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#95954</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                        <span>How many hours of sleep you take in the day?</span>
                    </div>
                    <div class="nk-tb-col nk-tb-col-action">
                      <div class="dropdown">
                        <a
                          class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                          data-bs-toggle="dropdown"
                          ><em class="icon ni ni-more-h"></em
                        ></a>
                        <div
                          class="dropdown-menu dropdown-menu-end dropdown-menu-xs"
                        >
                          <ul class="link-list-plain">
                            <li><a href="#">View</a></li>
                            <li><a href="#">Invoice</a></li>
                            <li><a href="#">Print</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
        

          <div class="card-inner">
            <ul class="question-list nk-stepper-nav nk-stepper-nav-s1 stepper-nav is-vr" ></ul>
          </div>
        </div>

       
      </div>
    </div>
  </div>

  <div class="nk-block">
    <button type="submit" form="quizForm" id="submitQuizBtn" class="btn btn-lg btn-success">
      Submit Quiz
    </button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
  let questionCounter = 0;

  // Handle Question Type Change
  $('#question-type').change(function () {
    const type = $(this).val();
    if (type === 'checkboxes' || type === 'radio') {
      $('#options-section').show();
    } else {
      $('#options-section').hide();
      $('#optionsContainer').html(''); // Clear options
    }
  });

  // Add Option Dynamically
  $('#addOptionBtn').click(function () {
    const newOption = `
      <div class="input-group mb-2 option-row">
        <input type="text" class="form-control" placeholder="Option text" required />
        <button type="button" class="btn btn-danger remove-option">Remove</button>
      </div>`;
    $('#optionsContainer').append(newOption);
  });

  // Remove Option
  $(document).on('click', '.remove-option', function () {
    $(this).closest('.option-row').remove();
  });

  // Add Question
  $('#addQuestionBtn').click(function () {
    const questionText = $('#question-text').val().trim();
    const questionType = $('#question-type').val();
    const options = [];

    // Collect options if applicable
    if (questionType === 'checkboxes' || questionType === 'radio') {
      $('#optionsContainer input').each(function () {
        const option = $(this).val().trim();
        if (option) {
          options.push(option);
        }
      });
      if (options.length === 0) {
        alert('Please add at least one option.');
        return;
      }
    }

    if (!questionText) {
      alert('Question text is required.');
      return;
    }

    // Add Question to List
    questionCounter++;
    const questionHTML = `
        
        <div class="nk-tb-item" data-id="${questionCounter}">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#${questionCounter}</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                        <span>${questionText}</span>
                    </div>
                    <div class="nk-tb-col nk-tb-col-action">
                      <div class="dropdown">
                        <a
                          class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                          data-bs-toggle="dropdown"
                          ><em class="icon ni ni-more-h"></em
                        ></a>
                        <div
                          class="dropdown-menu dropdown-menu-end dropdown-menu-xs"
                        >
                          <ul class="link-list-plain">
                            <li><a href="#">View</a></li>
                            <li><a href="#">Invoice</a></li>
                            <li><a href="#">Print</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>`;

    $('#questionList').append(questionHTML);

    // Clear Form
    $('#question-text').val('');
    $('#question-type').val('text').change();
    $('#optionsContainer').html('');
  });

  // Delete Question
  $(document).on('click', '.delete-question', function () {
    $(this).closest('.question-item').remove();
    updateQuestionNumbers();
  });

  // Update Question Numbers
  function updateQuestionNumbers() {
    questionCounter = 0;
    $('#questionList .question-item').each(function () {
      questionCounter++;
      $(this).find('strong').text(`${questionCounter}. ${$(this).text().split('. ')[1]}`);
    });
  }

  // Prevent Form Submission with No Questions
  $('#submitQuizBtn').click(function (e) {
    if ($('#questionList .question-item').length === 0) {
      alert('Please add at least one question before submitting the quiz.');
      e.preventDefault();
    }
  });
});
</script>
{% endblock content %}
